{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block content %}


<div class="section-report">
    <div class="container-report">
        <div class="content-section-report">
                {{ include('report/kmom01.markdown.twig')|markdown_to_html }}
        </div>
    </div>
</div>



{% endblock %}