
$banner-color: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
$nav-footer-background-color: #6b6a6c;
$nav-hover: #ab9dc2;
$nav-footer-text: #fff;
$banner-text: #111;


$main-text: #111;
$headline: #111;
$background: #fff;


$section-button-background: #43655a;
$section-button-text: #fff;
$section-button-hover: #009688;

$section-h2: #111;
$card-background: #fff;
$card-text: #101010;
